<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Experience</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
    		
		</div><!-- /.container -->
		
		<footer>
			{% include svg-icons.html %}
			<!--
    			<ul>
        			<li><a href="dbashir@hmc.edu">email</a></li>
        			<li><a href="https://github.com/db7894">github.com/db7894</a></li>
			</ul>
			-->
		</footer>
		
		<!--
		<div class="wrapper-footer">
      			<div class="container">
        			<footer class="footer">
          				{% include svg-icons.html %}
        			</footer>
      			</div>
    		</div>
		-->
	</body>
</html>
